<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Welcome Client</h1>
    <p id="user"></p>
    <div id="articleList"></div>
</div>
<script>
    $(document).click(function () {
        debugger;
        var listItems = $(".Status");
        listItems.each(function (idx, li) {
            li.innerHTML = "Reviewed";
        })
    });
    function ready() {

    }
    debugger;
    //random number between 1 and 100 for demo
    var userId = Math.floor((Math.random() * 100) + 1);
    document.addEventListener("DOMContentLoaded", ready);

    document.getElementById("user").innerHTML = "UserId: " + userId;
</script>
<script src="~/lib/signalr/signalr.js"></script>
<script src="~/js/notification.js"></script>
<script src="~/js/usernotification.js"></script>